/* @font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'Space Grotesk';
    font-weight: 500;
    src: url('/fonts/SpaceGrotesk-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Space Grotesk';
    font-weight: 700;
    src: url('/fonts/static/SpaceGrotesk-Bold.ttf') format('ttf');
} */

@import url('https://fonts.cdnfonts.com/css/space-grotesk');


:root {
    --dark-purple: #5C2DD5;
    --purple: #7945FF;

}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk';
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background-color: var(--dark-purple);
}


@media only screen and (max-width: 768px) {
    body {
        background-color: var(--purple);
    }
}